@import "../../../styles.scss";
#cart {
    background-color: white;
    color: black;
    height: 100%;
    padding: 3rem;
    @include flexCenter(column);
    h3 {
        margin: 2rem;
    }
    .cart-item {
        @include flexCenter(row);
        padding: 1rem;
        margin: .5rem;
        border-bottom: 1px solid lightgray;
        img {
            width: 20vw;
        }
        .cart-item-text {
            width: 50vw;
            p,
            h5,
            button {
                margin: .5rem 0;
            }
        }
    }
}