@import "../../../styles.scss";
#cart {
    background-color: white;
    color: black;
    padding: 3rem;
    @include flexCenter(column);
    .empty-cart {
        @include emptyStyle;
    }
    .full-cart {
        @include cartStyle;
    }
}