<section id="cart">
    <a class="back-button" routerLink="/"><i class="fas fa-times-circle"></i></a>
    <h3>Your cart</h3>

    <div *ngIf="cartItems.length === 0" class="emptyCart">
        <h1>Your cart is empty.</h1>
    </div>


    <div class="cart-item" *ngFor="let i of cartItems">

        <img [src]="i.imageUrl" alt="{{i.name}}">

        <div class="cart-item-text">

            <p>{{i.name}} ({{i.year}})</p>
            <h5>{{ i.price }} kr</h5>
            <button class="text-button" (click)="removeItem(i.id)"><i class="far fa-trash-alt"></i> Remove</button>

        </div>
    </div>

    <div class="total" *ngIf="cartItems.length >= 1">
        <h3>Total price: {{totalPrice}} kr</h3>
        <a routerLink="/cart" class="checkout-button">Go to checkout</a>
    </div>


</section>