<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Full name" formControlName="name" />
    <input type="text" placeholder="Phone number" formControlName="phone" />
    <input type="text" placeholder="Email address" formControlName="email" />
    <select name="dropdown" placeholder="Payment Method" formControlName="paymentmethod">
        <option value="VISA">VISA</option>
        <option value="Mastercard">Mastercard</option>
        <option value="American Express">American Express</option>
    </select>
    <button type="submit" [disabled]="customerForm.invalid">Send</button>
</form>

<p>
    {{ customerForm.value | json }}
</p>